{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Система опросов</h1>
<p>Добро пожаловать в систему опросов! Здесь вы можете пройти публичные опросы или создать свои.</p>
{% if user.is_authenticated %}
    <p>Перейдите в <a href="{% url 'profile' %}">ваш профиль</a>, чтобы управлять своими опросами, или в <a href="{% url 'public_surveys' %}">публичные опросы</a>, чтобы пройти доступные опросы.</p>
{% else %}
    <p><a href="{% url 'public_surveys' %}">Посмотрите доступные публичные опросы</a> или <a href="{% url 'login' %}">войдите</a>, чтобы создать свои.</p>
{% endif %}
{% endblock %}